.workZone {
   width: 89%;
   height: calc(100% - 20px);
   margin-left: 30px;
   margin-right: 10px;
   background-color: #F9F9F9;
   display: flex;
   align-items: center;
   justify-content: center;
}

.slide {
   /*width: 94%;
   max-height: 94%;*/
   aspect-ratio: 18/10;
   background-color: #fff;
   box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.05);
   background-size: 100% 100%;
}

.slideButton {
   padding: 0;
   border: none;
}