.blockButton {
  padding: 0;
  border: none;
  background-color: transparent;
}

.blockCanvas {
  display: flex;
  flex-wrap: wrap;
}

.resizeable {
  position: absolute;
  border: 2px solid black;
  width: 100%;
  height: 99%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 5px;
  min-height: 5px;
  z-index: 1;
}

.resizer_r {
  position: absolute;
  border: 2px solid black;
  background: white;
  cursor: col-resize;
  right: -7px;
  top: auto;
  bottom: auto;
  width: 8px;
  height: 8px;
  z-index: 2;
}

.resizer_t {
  position: absolute;
  background: white;
  border: 2px solid black;
  cursor: row-resize;
  height: 8px;
  left: auto;
  right: auto;
  top: -7px;
  width: 8px;
  z-index: 2;
}

.resizer_b {
  position: absolute;
  background: white;
  border: 2px solid black;
  cursor: row-resize;
  height: 8px;
  left: auto;
  right: auto;
  bottom: -7px;
  width: 8px;
  z-index: 2;
}

.resizer_l {
  position: absolute;
  border: 2px solid black;
  background: white;
  cursor: col-resize;
  left: -7px;
  top: auto;
  bottom: auto;
  width: 8px;
  height: 8px;
  z-index: 2;
}