.buttonHideNav {
    /* all: unset; */
    box-sizing: border-box;

    position: absolute;
    width: 200px;
    height: 38px;
    left: 0px;
    top: 924px;

    background: #FFEBFD;
    border-top: 1px solid #D29CFF;
    bottom:0;
}

.buttonShowNav {
    /* all: unset; */
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0px;
    top: 924px;

    background: #FFEBFD;
    border-top: 1px solid #D29CFF;
    border-radius: 50%;
    bottom:0;
}