.blockButton {
    margin-left: 10px;
    padding: 0;
    border: none;
    background-color: transparent;
}

/* .blockBorderOn {
    box-sizing: border-box;
    border: #000 2px solid;
} */

.blockCanvas {
    display: flex;
    flex-wrap: wrap;
}

.block {
    margin: 0 auto;
}